doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css")
		title 内容列表页
	body
		div.container
			table(class="table")
				thead
					tr
						th 序号
						th id
						th 内容
						th 操作
				tbody
					each val,index in contentList
						tr
							td #{index + 1}
							th #{val._id}
							th #{val.content}
							th
								button.btn.btn-default 预览
								button.btn.btn-default 删除