doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/static/css/index.css")
		script(src="/static/jquery/jquery.js")
		title 官网后台管理系统
	body
		div(class="wrap")
		div(class="nav")
			ul
				li
					a 预览
				li
					a 页面设置
				li
					a 栏目
				li
					a 内容
				li
					a 风格
				li
					a SEO
				li
					a 多语言
				li
					a 常用功能
				li
					a 更多设置
				li
		div(class="title")
			p(class="title1") 基于 Node.js & MongoDB
			p(class="title12") 领先的轻量级 CMS 内容管理系统
	script(src="/static/js/index.js")